<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
{% if page.facebook.image %}<meta property="og:image" content="{{ site.url }}{{ page.facebook.image }}" />{% endif %}

<script src="//load.sumome.com/" data-sumo-site-id="98a00b9080a08b988148ff307629ff08ec2bf2f1cc415be4017597de3ee464f0" async="async"></script>
