<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<!--
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
-->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic" rel="stylesheet" type="text/css">
{% if page.facebook.image %}
<meta property="og:image" content="{{ site.url }}{{ page.facebook.image }}" />
<meta property="twitter:image:src" content="{{ site.url }}{{ page.facebook.image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}/images/codelord-logo.png" />
<meta property="twitter:image:src" content="{{ site.url }}/images/codelord-logo.png" />
{% endif %}
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@avivby" />
<meta property="twitter:creator" content="@avivby" />
<meta property="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}" />
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}" />

<script src="//load.sumome.com/" data-sumo-site-id="98a00b9080a08b988148ff307629ff08ec2bf2f1cc415be4017597de3ee464f0" async="async"></script>
